DATABASE_URL=mydburl
JWT_SECRET=mysecret
ENV=development
PUBLIC_BASE_URL=myurl

SPOTIFY_CLIENT_ID=myid
SPOTIFY_CLIENT_SECRET=mysecret
SPOTIFY_REDIRECT_URI=myuri # must match the URI registered in Spotify developer dashboard

RESEND_API_KEY=mykey
RESEND_FROM_EMAIL=email # must match verified Resend domain